{%  extends "layout.html" %}
{% block content %}
<br><br>

<div class="content-section">
   
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group" id="cloneunder">
            <legend class="border-bottom mb-4">Course Objectives {{ccode}}</legend>
            <div class="form-group" id="skillclass">
                {{ form.crseObjs.label(class="form-control-label") }}
                {{ form.crseObjs(class="form-control") }}

            </div>
            
            
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>

    </form>

</div>


{%  endblock content  %}