{% extends "layout.html" %} 
{% block content %}
    <br><br>
    <h1>Welcome to Coursebook Maker</h1>
    
    <div>
        <article class="container">
            <p class="article-content">Easily and fast, fill the data and create coursebook </p>
            
        </article>

        <br>
        <br>
        <br>
        <a href="/searchCode" class="btn btn-outline-danger" style="float: left;">Create Coursebook</a>
        <br>
        <br>
        <br>
        
    
    </div>
   



{% endblock content %}


    